# IDE
.cursor/
.markdownlint.json

# Environment variables
.env

# Agents
agents/.*venv/
agents/*.egg-info/
__pycache__/

# Backend
backend/dist/
backend/node_modules/
backend/package-lock.json
backend/.env

# Frontend
frontend/dist/
frontend/node_modules/
frontend/.env
frontend/*.tsbuildinfo
